<h1 mat-dialog-title class="section-inventory__title">Resumen pedido</h1>
<mat-dialog-content class="mat-typography" class="end-pedido">

 
    <mat-stepper [linear]="true" #stepper>
        <mat-step  label="Confirma tus productos">
            <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 demo-table">
                <!-- Position Column -->
                <ng-container matColumnDef="idproducto">
                    <th mat-header-cell *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let element">{{element.idproducto}}</td>
                </ng-container>
                
                <!-- categoria Column -->
                <ng-container matColumnDef="categoria">
                    <th mat-header-cell *matHeaderCellDef>Categoría</th>
                    <td mat-cell *matCellDef="let element">{{element.categoria_idcategoria.nombre}}</td>
                </ng-container>
                
                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
                </ng-container>
                
                <!-- Weight Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Descripción</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>
                
                <!-- Symbol Column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef>Image</th>
                    <td mat-cell *matCellDef="let element">{{element.image}}</td>
                </ng-container>
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef>cantidad</th>
                    <td mat-cell *matCellDef="let element">{{element.cantidad}}</td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef>Precio</th>
                    <td mat-cell *matCellDef="let element">${{element.precio | number}} COP</td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="precioT">
                    <th mat-header-cell *matHeaderCellDef>Precio total</th>
                    <td mat-cell *matCellDef="let element">$ {{element.precio * element.cantidad | number}} COP</td>
                </ng-container>
                <!-- eliminar Column -->
                <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="warn">
                            <mat-icon>delete</mat-icon>
                            Eliminar
                        </button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="module__header"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
                </mat-paginator>
                <div class="end-pedido__actions">
                    <button mat-raised-button class="end-pedido__actions--btn"  mat-dialog-close>Cancelar</button>
                    <button  mat-raised-button class="end-pedido__actions--btn" color="primary" matStepperNext>Siguiente</button>
                </div>
        </mat-step>
        <mat-step [stepControl]="formularioTicket" label="Ingresa tús datos">
            <section class="productos">
                <mat-card class="productos__form">
                    <mat-card-content>
                        <form class="productos__form" [formGroup]="formularioTicket" >
                            <div class="productos__form--item">
                                <mat-form-field appearance="fill" class="productos__form--input" color="primary">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="nombre" placeholder="nombre..." >
                                </mat-form-field>
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validationMessages.nombre">
                                      <div *ngIf="formularioTicket.get('nombre')?.hasError(validation.type) && (formularioTicket.get('nombre')?.dirty || formularioTicket.get('nombre')?.touched)">
                                        {{ validation.message }}
                                      </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="productos__form--item">
                                <mat-form-field appearance="fill" class="productos__form--input" color="primary">
                                    <mat-label>Correo</mat-label>
                                    <input matInput type="email" formControlName="correo">
                                </mat-form-field>
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validationMessages.correo">
                                      <div *ngIf="formularioTicket.get('correo')?.hasError(validation.type) && (formularioTicket.get('correo')?.dirty || formularioTicket.get('correo')?.touched)">
                                        {{ validation.message }}
                                      </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="productos__form--item">
                                <mat-form-field appearance="fill" class="productos__form--input" color="primary">
                                    <mat-label>Cédula</mat-label>
                                    <input matInput formControlName="cedula" placeholder="cedula..." >
                                </mat-form-field>
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validationMessages.cedula">
                                      <div *ngIf="formularioTicket.get('cedula')?.hasError(validation.type) && (formularioTicket.get('cedula')?.dirty || formularioTicket.get('cedula')?.touched)">
                                        {{ validation.message }}
                                      </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="productos__form--item">
                                <mat-form-field appearance="fill" class="productos__form--input" color="primary">
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput type="tel" formControlName="telefono" placeholder="image..." >
                                </mat-form-field>
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validationMessages.telefono">
                                      <div *ngIf="formularioTicket.get('telefono')?.hasError(validation.type) && (formularioTicket.get('telefono')?.dirty || formularioTicket.get('telefono')?.touched)">
                                        {{ validation.message }}
                                      </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="productos__form--item">
                                <mat-form-field appearance="fill" class="productos__form--input" color="primary">
                                    <mat-label>Dirección</mat-label>
                                    <input matInput type="text" formControlName="direccion" placeholder="direccion..." >
                                </mat-form-field>
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validationMessages.direccion">
                                      <div *ngIf="formularioTicket.get('direccion')?.hasError(validation.type) && (formularioTicket.get('direccion')?.dirty || formularioTicket.get('direccion')?.touched)">
                                        {{ validation.message }}
                                      </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="end-pedido__actions">
                                <button mat-raised-button class="end-pedido__actions--btn"  mat-dialog-close>Cancelar</button>
                                <button [disabled]="!formularioTicket.valid" mat-raised-button class="end-pedido__actions--btn" color="primary" matStepperNext>Siguiente</button>
                            </div>
                            <div>
                                  <img src="assets/img/productoss.png" alt="">
                              </div>
                          </form>
                    </mat-card-content>
                </mat-card>
            </section>
        </mat-step>
        <mat-step label="Finalizar pedido">
          <h3>Tu pedido está a punto de ser validado. Pronto nos pondremos en contacto contigo para confirmar los detalles de tu pedido y coordinar la entrega.</h3>
          <h3>Si deseas continuar con tu pedido dale Aceptar</h3>

          <h4><strong>Precio Total:</strong></h4>
          <strong>{{total | number}}</strong>
          
          <div class="end-pedido__actions">
              <button mat-raised-button class="end-pedido__actions--btn"  mat-dialog-close>Cancelar</button>
              <button mat-raised-button class="end-pedido__actions--btn" color="accent" (click)="proccesSave()" cdkFocusInitial>Aceptar</button>
          </div>
        </mat-step>
      </mat-stepper>
    

</mat-dialog-content>
<!-- <mat-dialog-actions class="end-pedido__actions" >
    <button [disabled]="!formularioTicket.valid" mat-raised-button class="end-pedido__actions--btn" color="primary" matStepperNext>Siguiente</button>
    <button mat-raised-button class="end-pedido__actions--btn"  mat-dialog-close>Cancelar</button>
    <button mat-raised-button class="end-pedido__actions--btn" color="accent"  cdkFocusInitial>Aceptar</button>
  </mat-dialog-actions> -->

