<footer>
    <div class="footer center--items">
        <div class="col-3 item">
            <a href="/" class=" text-decoration-none">
                <img src="./assets/img/logo.svg" alt="magueis" class="" width="350" >
              </a>
        </div>
            <div class="col-3 item">
                <h3>Contactanos</h3>
                <ul>
                    <li><a href="#">En Medellin: (602) 489-4646</a></li>
                    <li><a href="#">Resto del pais: 018000939383</a></li>
                    <li><a href="#">Celular: 320 3509827</a></li>
                    <li><a href="#">Correo: servicio_cliente@guille.com</a></li>
                    <li><a href="#">PQRS (Preguntas, quejas, reclamos, sugerencias)</a></li>
                </ul>
            </div>
            <div class="col-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Legacy</a></li>
                </ul>
            </div>
            <div class="col-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">Company Name © 2023</p>
            </div>
    </div>
</footer>