<section class="section-index-two  center--items">
    <div class="container">
        <div class="center--items">
            <div class="col-6 ">      
                <h2 class="pb-2">Ebanisteria</h2> 
                <p class="fs-5">La visión de tu negocio y la alineamos con las posibilidades y oportunidades tecnológicas que facilitarán el logro de tus metas y objetivos.</p> 
                <h3 class="pb-2">Trabajamos bajo marcos ágiles</h3>
                <p class="fs-5">
                    Trabajamos bajo las mejores prácticas del marco ágil SCRUM para entregarte productos de software de valor de forma iterativa e incremental, que están alineados con los objetivos estratégicos de tu negocio.</p>
                <h3 class="pb-2">Para nosotros, el éxito no es de un solo individuo</h3>
                <p class="fs-5">
                    Trabajamos en equipo, en el que tu empresa hace parte activa, es por esto, que dentro de los equipos SCRUM, nuestros clientes desempeñan un papel fundamental en la definición de lo que espera del producto para su negocio.</p>
            </div>
            <div class="col-6 ">
                <figure>
                    <img src="./assets/img/bannner-scrum.jpg" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
<section class="section-index-three center--items">
    <div class="container ">
        <div class="center--items">
            <div class="col-6  ">
                <figure>
                    <img src="./assets/img/banner-equipo.jpg" alt="">
                </figure>
            </div>
            <div class="col-6  ">      
                <h2>Nuesto Equipo de Trabajo</h2>
                <p class="fs-5">Este esquema es conocido como “capacidad administrada”, donde nosotros le ayudamos a nuestros clientes a conformar equipos de desarrollo de alta calidad que les agreguen valor para que ellos se puedan concentrar en el crecimiento de sus negocios.</p>
                <h4>Los tipos de perfiles a los que puede acceder con nuestro servicio de Staff Augmentation son:</h4>
                <p class="fs-5">
                    - La marquería. Técnica utilizada para unir diversos trozos de madera formando dibujos o formas geométricas.<br>
                    - El tallado.<br>
                    - Torneado.<br>
                    - Taracea. Similar a la marquetería, aunque en este caso se utilizan diferentes materiales además de la madera. Entre estos destacan: nácar, marfil, metales…<br>
                    - Lider<br>
                    - Control de calidad</p>
            </div>
        </div>
    </div>  
</section>